@font-face {
    font-family: heading;
    src: url(rust.woff);
}
@font-face {
    font-family: body;
    src: url(source-sans-pro-light.woff);
}
@font-face {
    font-family: body;
    font-style: italic;
    src: url(source-sans-pro-light-italic.woff);
}
@font-face {
    font-family: code;
    src: url(source-code-pro-light.woff);
}
@font-face {
    font-family: code;
    font-style: italic;
    src: url(source-code-pro-light-italic.woff);
}

* {
    border: none;
    box-sizing: border-box;
    font-family: inherit;
    font-style: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-family: body;
    font-size: 1vw;
    font-weight: lighter;
    line-height: 2.75vw;
}
body {
    cursor: default;
    font-size: 2rem;
    overflow-x: hidden;
}

@media (min-width: 1000px) {
    html {
        font-size: 10px;
        line-height: 27.5px;
    }
}

em {
    font-style: italic;
}

a {
    color: hsl(8.5, 95.5%, 63.8%);
    cursor: pointer;
}
a:hover {
    color: #ffffff;
}

h1,
h2 {
    color: hsl(0, 0%, 95%);
    font-family: heading;
    line-height: 1;
}

h1 {
    font-size: 8rem;
    line-height: 0.88;
    text-shadow: 0 0 25px hsl(10, 15%, 15%);
}

h2 {
    font-size: 3rem;
    line-height: 0.88;
    text-shadow: 0 0 15px hsl(10, 15%, 15%);
}

p {
    margin-top: 1rem;
}
p:first-child,
h2 + p {
    margin-top: 0;
}

code {
    cursor: text;
    font-family: code;
}

pre {
    cursor: text;
    font-family: code;
    margin-top: 1rem;
    position: relative;
}
pre:first-child {
    margin-top: 0;
}

body {
    align-items: center;
    background: hsl(10, 15%, 15%);
    border: 2.5rem solid hsla(0, 0%, 0%, 0.2);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding: 2.5rem;
    text-shadow: 0 0 5px hsl(10, 15%, 15%);
}

.background {
    background: url('background.jpg') no-repeat center;
    bottom: -1rem;
    left: -1rem;
    filter: blur(0.5rem);
    opacity: 0.5;
    position: fixed;
    right: -1rem;
    top: -1rem;
    z-index: -1;
}

.title,
.panel {
    width: 90rem;
}

.title {
    margin-bottom: 3rem;
}

.panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 3rem;
}
.panel h2 {
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: 100%;
    position: relative;
    white-space: nowrap;
}
.panel h2 {
    margin-bottom: 3rem;
}
.panel h2:after {
    background: linear-gradient(to right, hsl(8.5, 65.5%, 48.8%), hsla(8.5, 65.5%, 48.8%, 0));
    content: 'X';
    color: hsl(8.5, 65.5%, 48.8%);
    cursor: default;
    display: inline-block;
    margin-right: -100vw;
    overflow: hidden;
    text-indent: -100vw;
    width: 100vw;
}
.panel .panel__content {
    flex-basis: 48rem;
    flex-grow: 1;
}

.panel .panel__notice {
    align-self: start;
    color: hsl(0, 0%, 85%);
    flex-basis: 35rem;
    flex-grow: 1;
    font-size: 1.6rem;
    margin-left: 3rem;
    padding: 1rem;
    position: relative;
}
.panel .panel__notice:before {
    background: hsla(0, 0%, 0%, 0.2);
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}
.panel:last-child {
    padding-bottom: 0;
}

.panel.--about p:first-of-type {
    font-size: 2.2rem;
}
